<!DOCTYPE html>
<html>
  <head>
    <title>Didjadoo</title>
    <link rel="icon" type="image/x-icon" href="https://www.clipartkey.com/mpngs/m/304-3040028_kangaroo-clipart-black-and-white-free-images-3.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
