<!DOCTYPE html>
<html>
  <head>
    <title>Didjadoo</title>
    <link rel="icon" type="image/x-icon" href="https://www.pngitem.com/pimgs/m/152-1525641_transparent-background-kangaroo-clipart-hd-png-download.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
